---
import { Image } from 'astro:assets';
import doiImg from '/public/icons/doi.png';
import pdfImg from '/public/icons/pdf.png';
import urlImg from '/public/icons/address.png';
import videoImg from '/public/icons/video.png';
const { title, event, authors, doi, pdf, url, video, year, image, alt } =
  Astro.props;
---

<!--TODO: add tag or using a box with different background color -->
<div
  class="bottom-2 mx-auto mb-6 mt-6 max-w-sm overflow-hidden rounded-xl bg-interactive-blue-3 shadow-md dark:bg-dark-interactive-blue-3 md:max-w-6xl"
>
  <div class="flex flex-col items-center md:flex md:flex-row">
    <div class="relative rounded">
      {
        (
          <Image
            src={image}
            alt={alt}
            class="object-cover p-4 rounded"
            width="350"
            height="350"
            loading="lazy"
          />
        )
      }
    </div>
    <div class="md:p-8 p-2">
      <div
        class="text-accessible-text-blue-1 dark:text-dark-accessible-text-blue-1 text-sm font-semibold uppercase tracking-wide md:text-lg"
      >
        {title}
      </div>
      <h1
        class="text-accessible-text-blue-2 dark:text-dark-accessible-text-blue-2 mt-1 block text-sm font-medium leading-tight md:text-lg"
      >
        {event} - {year}
      </h1>
      <h2
        class="text-accessible-text-blue-2 dark:text-dark-accessible-text-blue-2 md:test-md mt-1 block text-sm leading-tight"
      >
        {
          authors.map((author) =>
            author === 'Yhonatan Iquiapaza,' ? (
              <span class="pr-2">
                <strong>{author}</strong>
              </span>
            ) : (
              <span class="pr-2">{author}</span>
            ),
          )
        }
      </h2>
      <p class="mt-2 hidden text-slate-500">
        Looking to take your team away on a retreat to enjoy awesome food and
        take in some sunshine? We have a list of places to do just that.
      </p>
      <div class="flex flex-row">
        {
          doi && (
            <span class="p-4">
              <a href={doi} target="_blank">
                <Image src={doiImg} alt="DOI" width="24" height="24" />
              </a>
            </span>
          )
        }
        {
          pdf && (
            <span class="p-4">
              <a href={pdf} target="_blank">
                <Image src={pdfImg} alt="DOI" width="24" height="24" />
              </a>
            </span>
          )
        }
        {
          url && (
            <span class="p-4">
              <a href={url} target="_blank">
                <Image src={urlImg} alt="DOI" width="24" height="24" />
              </a>
            </span>
          )
        }
        {
          video && (
            <span class="px-4 py-5">
              <a href={video} target="_blank">
                <Image src={videoImg} alt="DOI" width="24" height="32" />
              </a>
            </span>
          )
        }
      </div>
    </div>
  </div>
</div>
