---
import { Image } from 'astro:assets';
import doiImg from '/public/icons/doi.png';
import pdfImg from '/public/icons/pdf.png';
import urlImg from '/public/icons/address.png';
import videoImg from '/public/icons/video.png';
const { title, event, authors, doi, pdf, url, video, year, image } =
    Astro.props;
---

<!--TODO: Refactor when I will have more that ten articles-->
<div
    class="light:bg-background-primary mx-auto mb-6 mt-6 max-w-sm overflow-hidden rounded-xl shadow-md dark:bg-background-primary md:max-w-6xl"
>
    <div class="md:flex">
        <div class="md:shrink-0">
            {
                (
                    <Image
                        src={image}
                        alt="Example"
                        class="h-48 w-full object-cover md:h-48 md:w-48"
                    />
                )
            }
        </div>
        <div class="p-8">
            <div
                class="light:text-text dark:text-text text-sm font-semibold uppercase tracking-wide md:text-lg"
            >
                {title}
            </div>
            <h1
                class="light:text-text dark:text-text mt-1 block text-sm font-medium leading-tight md:text-lg"
            >
                {event} - {year}
            </h1>
            <h2 class="light:text-text dark:text-text md:test-md mt-1 block text-sm leading-tight">
                {
                    authors.map((author) =>
                        author === 'Yhonatan Iquiapaza,' ? (
                            <span class="pr-2">
                                <strong>{author}</strong>
                            </span>
                        ) : (
                            <span class="pr-2">{author}</span>
                        ),
                    )
                }
            </h2>
            <p class="mt-2 hidden text-slate-500">
                Looking to take your team away on a retreat to enjoy awesome
                food and take in some sunshine? We have a list of places to do
                just that.
            </p>
            <div class="flex flex-row">
                {
                    doi && (
                        <span class="p-4">
                            <a href={doi} target="_blank">
                                <Image
                                    src={doiImg}
                                    alt="DOI"
                                    width="24"
                                    height="24"
                                />
                            </a>
                        </span>
                    )
                }
                {
                    pdf && (
                        <span class="p-4">
                            <a href={pdf} target="_blank">
                                <Image
                                    src={pdfImg}
                                    alt="DOI"
                                    width="24"
                                    height="24"
                                />
                            </a>
                        </span>
                    )
                }
                {
                    url && (
                        <span class="p-4">
                            <a href={url} target="_blank">
                                <Image
                                    src={urlImg}
                                    alt="DOI"
                                    width="24"
                                    height="24"
                                />
                            </a>
                        </span>
                    )
                }
                {
                    video && (
                        <span class="px-4 py-5">
                            <a href={video} target="_blank">
                                <Image
                                    src={videoImg}
                                    alt="DOI"
                                    width="24"
                                    height="32"
                                />
                            </a>
                        </span>
                    )
                }
            </div>
        </div>
    </div>
</div>
